// Color
$white: #fff;
$black: #000;
$red: #df2408;
$pink: #fc66cc;
$gray: #808080;

$color-primary: #2477f3;

$color-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);

// Font Size
$font-xxl: 10rem;
$font-xl: 7rem;
$font-lg: 4rem;
$font-md: 3rem;
$font-sm: 2rem;
$font-xs: 1.2rem;

// Font weight
$font-weight-xl: 900;
$font-weight-lg: 800;
$font-weight-md: 700;
$font-weight-sm: 600;

// Line height
$line-height-lg: 4rem;
$line-height-md: 3rem;
$line-height-sm: 2rem;

// Default sizes
$grid-width: 114rem;
$gutter-horizontal: 2rem;
$gutter-vertical: 3rem;

